openapi: 3.0.3
info:
  version: 1.6.0-dev
  title: Strepen REST API
  description: REST API for the Strepen system.
  license:
    name: MIT
    url: https://github.com/diekantankys/strepen/blob/master/LICENSE

servers:
  - url: https://stam.diekantankys.nl/api
  - url: http://strepen.test/api

tags:
  - name: Strepen
    description: API metadata.
  - name: Auth
    description: Authentication endpoints.
  - name: Settings
    description: Global settings.
  - name: Users
    description: User data and profile operations.
  - name: Posts
    description: Posts and reactions.
  - name: Products
    description: Products.
  - name: Inventories
    description: Stock inventories.
  - name: Transactions
    description: User transactions.
  - name: Notifications
    description: User notifications.

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: May alternatively be supplied as the `api_key` request parameter.
    TokenAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum token

  parameters:
    Query:
      name: query
      in: query
      description: Search query.
      schema:
        type: string
    Page:
      name: page
      in: query
      description: One-based pagination page number.
      schema:
        type: integer
        minimum: 1
    Limit:
      name: limit
      in: query
      description: Results per page. The server clamps this to 1 through 50; default 20.
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    UserId:
      name: user
      in: path
      required: true
      schema: { type: integer }
    PostId:
      name: post
      in: path
      required: true
      schema: { type: integer }
    ProductId:
      name: product
      in: path
      required: true
      schema: { type: integer }
    InventoryId:
      name: inventory
      in: path
      required: true
      schema: { type: integer }
    TransactionId:
      name: transaction
      in: path
      required: true
      schema: { type: integer }
    NotificationId:
      name: notification
      in: path
      required: true
      schema: { type: string, format: uuid }
    CommentId:
      name: comment
      in: path
      required: true
      schema: { type: integer }

  schemas:
    LoginInput:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    Error:
      type: object
      required: [errors]
      properties:
        errors:
          description: Validation or authorization errors. Its shape varies by endpoint.
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: { type: string }
    Message:
      type: object
      required: [message]
      properties:
        message: { type: string }
    User:
      type: object
      required: [id, firstname, lastname, avatar, thanks]
      properties:
        id: { type: integer }
        firstname: { type: string }
        insertion: { type: string, nullable: true }
        lastname: { type: string }
        avatar: { type: string, format: uri }
        thanks: { type: string, format: uri }
        gender: { type: string, enum: [male, female, other], nullable: true }
        birthday: { type: string, format: date, nullable: true }
        email: { type: string, format: email }
        phone: { type: string, nullable: true }
        address: { type: string, nullable: true }
        postcode: { type: string, nullable: true }
        city: { type: string, nullable: true }
        role: { type: string, enum: [normal, manager, admin, unknown] }
        lanuage:
          type: string
          enum: [en, nl, unknown]
          description: Deliberately spelled `lanuage` to match the server response.
        theme: { type: string, enum: [light, dark, system, unknown] }
        notify_new_posts: { type: boolean }
        notify_low_balance: { type: boolean }
        notify_new_deposits: { type: boolean }
        notify_new_transactions: { type: boolean }
        notify_by_email: { type: boolean }
        balance: { type: number, format: double }
        minor: { type: boolean }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        posts:
          type: array
          items: { $ref: "#/components/schemas/Post" }
        inventories:
          type: array
          items: { $ref: "#/components/schemas/Inventory" }
        transactions:
          type: array
          items: { $ref: "#/components/schemas/Transaction" }
      description: Fields after `thanks` are conditionally returned for the current user or managers; `active` and `updated_at` are manager-only.
    Post:
      type: object
      required:
        [
          id,
          title,
          body,
          created_at,
          likes,
          user_liked,
          dislikes,
          user_disliked,
        ]
      properties:
        id: { type: integer }
        title: { type: string }
        image: { type: string, format: uri, nullable: true }
        body: { type: string, description: Rendered HTML. }
        created_at: { type: string, format: date-time }
        updated_at:
          { type: string, format: date-time, description: Manager-only. }
        likes: { type: integer }
        user_liked: { type: boolean }
        dislikes: { type: integer }
        user_disliked: { type: boolean }
        user: { $ref: "#/components/schemas/User" }
    PostComment:
      type: object
      required:
        [id, body, created_at, updated_at, likes, user_liked, dislikes, user_disliked]
      properties:
        id: { type: integer }
        parent_id: { type: integer, nullable: true }
        body: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        likes: { type: integer }
        user_liked: { type: boolean }
        dislikes: { type: integer }
        user_disliked: { type: boolean }
        user: { $ref: "#/components/schemas/User" }
        replies:
          type: array
          items: { $ref: "#/components/schemas/PostComment" }
    CommentInput:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 1000 }
        parent_id: { type: integer, nullable: true }
    Product:
      type: object
      required:
        [id, name, image, price, alcoholic, created_at, transactions_count]
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        image: { type: string, format: uri }
        price: { type: number, format: double }
        alcoholic: { type: boolean }
        amount:
          {
            type: integer,
            description: Quantity in an inventory or transaction relation.,
          }
        inventory_amount:
          { type: integer, description: Manager-only current stock quantity. }
        active: { type: boolean, description: Manager-only. }
        created_at: { type: string, format: date-time }
        updated_at:
          { type: string, format: date-time, description: Manager-only. }
        transactions_count: { type: integer }
    Inventory:
      type: object
      required: [id, name, price, created_at]
      properties:
        id: { type: integer }
        name: { type: string }
        price: { type: number, format: double }
        created_at: { type: string, format: date-time }
        updated_at:
          { type: string, format: date-time, description: Manager-only. }
        user: { $ref: "#/components/schemas/User" }
        products:
          type: array
          items: { $ref: "#/components/schemas/Product" }
    Transaction:
      type: object
      required: [id, type, name, price, created_at]
      properties:
        id: { type: integer }
        type: { type: string, enum: [transaction, deposit, food, unknown] }
        name: { type: string }
        price: { type: number, format: double }
        created_at: { type: string, format: date-time }
        updated_at:
          { type: string, format: date-time, description: Manager-only. }
        user: { $ref: "#/components/schemas/User" }
        products:
          type: array
          items: { $ref: "#/components/schemas/Product" }
    Notification:
      type: object
      required: [id, type, data, created_at]
      properties:
        id: { type: string, format: uuid }
        type:
          { type: string, enum: [new_deposit, new_post, low_balance, unknown] }
        data: { type: object, additionalProperties: true }
        read_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at:
          { type: string, format: date-time, description: Manager-only. }
        user: { $ref: "#/components/schemas/User" }
        post: { $ref: "#/components/schemas/Post" }
    NotificationCollection:
      type: object
      required: [data, links, meta]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Notification" }
        links:
          type: object
          additionalProperties: true
        meta:
          type: object
          additionalProperties: true
    TransactionInput:
      type: object
      required: [name, products]
      properties:
        name: { type: string, minLength: 2, maxLength: 48 }
        user_id:
          type: integer
          description: Manager-only; creates the transaction for this user.
        products:
          type: array
          minItems: 1
          items:
            type: object
            required: [product_id, amount]
            properties:
              product_id: { type: integer }
              amount: { type: integer, minimum: 1 }
    UserEditInput:
      type: object
      properties:
        firstname: { type: string, minLength: 2, maxLength: 48 }
        insertion: { type: string, maxLength: 16, nullable: true }
        lastname: { type: string, minLength: 2, maxLength: 48 }
        email: { type: string, format: email, maxLength: 255, nullable: true }
        gender: { type: string, enum: [male, female, other, ""] }
        birthday: { type: string, format: date, nullable: true }
        phone: { type: string, maxLength: 255, nullable: true }
        address: { type: string, minLength: 2, maxLength: 255, nullable: true }
        postcode: { type: string, minLength: 2, maxLength: 32, nullable: true }
        city: { type: string, minLength: 2, maxLength: 255, nullable: true }
        language: { type: string, enum: [en, nl] }
        theme: { type: string, enum: [light, dark, system] }
        notify_new_posts: { type: string, enum: ["true", "false"] }
        notify_low_balance: { type: string, enum: ["true", "false"] }
        notify_new_deposits: { type: string, enum: ["true", "false"] }
        notify_new_transactions: { type: string, enum: ["true", "false"] }
        notify_by_email: { type: string, enum: ["true", "false"] }
        avatar:
          type: string
          format: binary
          description: JPG or PNG, maximum 1 MiB. Use the string `null` to remove.
        thanks:
          type: string
          format: binary
          description: GIF, maximum 2 MiB. Use the string `null` to remove.
        current_password: { type: string }
        password: { type: string, minLength: 6 }
        password_confirmation: { type: string }

  responses:
    BadRequest:
      description: Invalid API key or validation failure.
      content:
        { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: Missing or invalid bearer token.
    Forbidden:
      description: The authenticated user is not allowed to access this resource.
      content:
        { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: Resource not found.

paths:
  /:
    get:
      tags: [Strepen]
      operationId: apiHome
      summary: Get API information.
      security: []
      responses:
        "200":
          description: API information.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties: { message: { type: string } }
        "429":
          description: Too many requests.

  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Log in and create a bearer token.
      security: [{ ApiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginInput" }
          application/x-www-form-urlencoded:
            schema: { $ref: "#/components/schemas/LoginInput" }
      responses:
        "200":
          description: Login successful.
          content:
            application/json:
              schema:
                type: object
                required: [token, user_id, user]
                properties:
                  token: { type: string }
                  user_id:
                    {
                      type: integer,
                      description: Deprecated compatibility field.,
                    }
                  user: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /auth/logout:
    get:
      tags: [Auth]
      operationId: logout
      summary: Revoke the current bearer token.
      security: [{ ApiKey: [], TokenAuth: [] }]
      responses:
        "200":
          description: Token revoked.
          content:
            {
              application/json:
                { schema: { $ref: "#/components/schemas/Message" } },
            }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /settings:
    get:
      tags: [Settings]
      operationId: getSettings
      summary: Get global settings.
      security: [{ ApiKey: [], TokenAuth: [] }]
      responses:
        "200":
          description: Settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency_symbol: { type: string }
                  currency_name: { type: string }
                  min_user_balance: { type: number }
                  max_stripe_amount: { type: integer }
                  minor_age: { type: integer }
                  pagination_rows: { type: integer }
                  leaderboards_enabled: { type: boolean }
                  bank_account_iban: { type: string }
                  bank_account_holder: { type: string }
                  product_beer_ids: { type: array, items: { type: integer } }
                  product_soda_ids: { type: array, items: { type: integer } }
                  product_snack_ids: { type: array, items: { type: integer } }
                  default_user_avatar: { type: string, format: uri }
                  default_user_thanks: { type: string, format: uri }
                  default_product_image: { type: string, format: uri }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /posts:
    get:
      tags: [Posts]
      operationId: listPosts
      summary: List posts.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated posts. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
        }
  /posts/{post}:
    get:
      tags: [Posts]
      operationId: getPost
      summary: Get a post.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        {
          "200": { description: Post. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /posts/{post}/like:
    put:
      tags: [Posts]
      operationId: togglePostLike
      summary: Toggle the current user's like.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        {
          "200": { description: Updated post. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
    get:
      tags: [Posts]
      operationId: togglePostLikeLegacy
      summary: Toggle the current user's like (deprecated - use PUT).
      deprecated: true
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        {
          "200": { description: Updated post. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /posts/{post}/dislike:
    put:
      tags: [Posts]
      operationId: togglePostDislike
      summary: Toggle the current user's dislike.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        {
          "200": { description: Updated post. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
    get:
      tags: [Posts]
      operationId: togglePostDislikeLegacy
      summary: Toggle the current user's dislike (deprecated - use PUT).
      deprecated: true
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        {
          "200": { description: Updated post. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /posts/{post}/comments:
    get:
      tags: [Posts]
      operationId: listPostComments
      summary: List root comments for a post with up to three nested reply levels.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      responses:
        "200":
          description: Comment list with embedded replies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Posts]
      operationId: createPostComment
      summary: Create a comment or reply on a post (up to three nested reply levels).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/PostId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CommentInput" }
          application/x-www-form-urlencoded:
            schema: { $ref: "#/components/schemas/CommentInput" }
      responses:
        "200":
          description: Created comment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /posts/{post}/comments/{comment}/like:
    put:
      tags: [Posts]
      operationId: togglePostCommentLike
      summary: Toggle the current user's like on a comment.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        - { $ref: "#/components/parameters/PostId" }
        - { $ref: "#/components/parameters/CommentId" }
      responses:
        "200":
          description: Updated comment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    get:
      tags: [Posts]
      operationId: togglePostCommentLikeLegacy
      summary: Toggle the current user's like on a comment (deprecated - use PUT).
      deprecated: true
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        - { $ref: "#/components/parameters/PostId" }
        - { $ref: "#/components/parameters/CommentId" }
      responses:
        "200":
          description: Updated comment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /posts/{post}/comments/{comment}/dislike:
    put:
      tags: [Posts]
      operationId: togglePostCommentDislike
      summary: Toggle the current user's dislike on a comment.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        - { $ref: "#/components/parameters/PostId" }
        - { $ref: "#/components/parameters/CommentId" }
      responses:
        "200":
          description: Updated comment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    get:
      tags: [Posts]
      operationId: togglePostCommentDislikeLegacy
      summary: Toggle the current user's dislike on a comment (deprecated - use PUT).
      deprecated: true
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        - { $ref: "#/components/parameters/PostId" }
        - { $ref: "#/components/parameters/CommentId" }
      responses:
        "200":
          description: Updated comment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PostComment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /posts/{post}/comments/{comment}:
    delete:
      tags: [Posts]
      operationId: deletePostComment
      summary: Delete a comment (owner or manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        - { $ref: "#/components/parameters/PostId" }
        - { $ref: "#/components/parameters/CommentId" }
      responses:
        "200":
          description: Comment deleted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Message" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /products:
    get:
      tags: [Products]
      operationId: listProducts
      summary: List products.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated products. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
        }
  /products/{product}:
    get:
      tags: [Products]
      operationId: getProduct
      summary: Get a product.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/ProductId" }]
      responses:
        {
          "200": { description: Product. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }

  /inventories:
    get:
      tags: [Inventories]
      operationId: listInventories
      summary: List inventories (manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated inventories. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
        }
  /inventories/{inventory}:
    get:
      tags: [Inventories]
      operationId: getInventory
      summary: Get an inventory (manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/InventoryId" }]
      responses:
        {
          "200": { description: Inventory. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }

  /transactions:
    get:
      tags: [Transactions]
      operationId: listTransactions
      summary: List transactions (manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated transactions. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
        }
    post:
      tags: [Transactions]
      operationId: createTransaction
      summary: Create a transaction.
      security: [{ ApiKey: [], TokenAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            { schema: { $ref: "#/components/schemas/TransactionInput" } }
          application/x-www-form-urlencoded:
            { schema: { $ref: "#/components/schemas/TransactionInput" } }
      responses:
        {
          "200": { description: Transaction created. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
        }
  /transactions/{transaction}:
    get:
      tags: [Transactions]
      operationId: getTransaction
      summary: Get a transaction accessible to the current user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/TransactionId" }]
      responses:
        {
          "200": { description: Transaction. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }

  /users:
    get:
      tags: [Users]
      operationId: listUsers
      summary: List users.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated users. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
        }
  /users/check_balances:
    get:
      tags: [Users]
      operationId: checkUserBalances
      summary: Recalculate user balances (manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      responses:
        {
          "200": { description: Balances checked. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
        }
  /users/{user}:
    get:
      tags: [Users]
      operationId: getUser
      summary: Get a user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/UserId" }]
      responses:
        {
          "200": { description: User. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /users/{user}/edit:
    post:
      tags: [Users]
      operationId: editUser
      summary: Update a user accessible to the current user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/UserId" }]
      requestBody:
        content:
          multipart/form-data:
            { schema: { $ref: "#/components/schemas/UserEditInput" } }
          application/json:
            { schema: { $ref: "#/components/schemas/UserEditInput" } }
      responses:
        {
          "200": { description: Updated user. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /users/{user}/posts:
    get:
      tags: [Users]
      operationId: listUserPosts
      summary: List a user's posts.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/UserId" },
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated user posts. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /users/{user}/inventories:
    get:
      tags: [Users]
      operationId: listUserInventories
      summary: List a user's inventories (manager only).
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/UserId" },
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated user inventories. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /users/{user}/transactions:
    get:
      tags: [Users]
      operationId: listUserTransactions
      summary: List transactions accessible to the current user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/UserId" },
          { $ref: "#/components/parameters/Query" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        {
          "200": { description: Paginated user transactions. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
  /users/{user}/notifications:
    get:
      tags: [Users]
      operationId: listUserNotifications
      summary: List notifications for the authenticated user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/UserId" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        "200":
          description: Paginated notifications.
          content:
            {
              application/json:
                {
                  schema:
                    { $ref: "#/components/schemas/NotificationCollection" },
                },
            }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /users/{user}/notifications/unread:
    get:
      tags: [Users]
      operationId: listUnreadUserNotifications
      summary: List unread notifications for the authenticated user.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters:
        [
          { $ref: "#/components/parameters/UserId" },
          { $ref: "#/components/parameters/Page" },
          { $ref: "#/components/parameters/Limit" },
        ]
      responses:
        "200":
          description: Paginated unread notifications.
          content:
            {
              application/json:
                {
                  schema:
                    { $ref: "#/components/schemas/NotificationCollection" },
                },
            }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /notifications/{notification}/read:
    get:
      tags: [Notifications]
      operationId: readNotification
      summary: Mark a notification accessible to the current user as read.
      security: [{ ApiKey: [], TokenAuth: [] }]
      parameters: [{ $ref: "#/components/parameters/NotificationId" }]
      responses:
        {
          "200": { description: Notification marked read. },
          "400": { $ref: "#/components/responses/BadRequest" },
          "401": { $ref: "#/components/responses/Unauthorized" },
          "403": { $ref: "#/components/responses/Forbidden" },
          "404": { $ref: "#/components/responses/NotFound" },
        }
